body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../医保定点医院_药店查询_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:800px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:800px;
}

.u3 {
    position:absolute;
    left:2px;
    top:392px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../医保定点医院_药店查询_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:-40px;
    width:480px;
    height:510px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:510px;
}

.u5 {
    position:absolute;
    left:2px;
    top:247px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:11px;
    top:284px;
    width:470px;
    height:48px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u7 {
    position:absolute;
    left:20px;
    top:728px;
    width:124px;
    height:72px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u8 {
    position:absolute;
    left:353px;
    top:730px;
    width:130px;
    height:75px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u9 {
    position:absolute;
    left:186px;
    top:728px;
    width:148px;
    height:82px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u10 {
    position:absolute;
    left:11px;
    top:8px;
    width:101px;
    height:54px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u11 {
    position:absolute;
    left:353px;
    top:135px;
    width:59px;
    height:47px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u12 {
    position:absolute;
    left:363px;
    top:10px;
    width:108px;
    height:52px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u13_normal {
    background-image: url('../医保定点医院_药店查询_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:493px;
    top:233px;
    width:678px;
    height:800px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:678px;
    height:800px;
}

.u14 {
    position:absolute;
    left:2px;
    top:392px;
    width:674px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:499px;
    top:188px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

