body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../优惠券_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u3 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:17px;
    top:10px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u5_normal {
    background-image: url('../优惠券_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:110px;
    width:480px;
    height:510px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:510px;
}

.u6 {
    position:absolute;
    left:2px;
    top:247px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u7 {
    position:absolute;
    left:46px;
    top:554px;
    width:391px;
    height:56px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u8 {
    position:absolute;
    left:88px;
    top:266px;
    width:306px;
    height:200px;
    overflow:hidden;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:306px;
    height:200px;
    
}

.u9_normal {
    background-image: url('../优惠券_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:305px;
    height:199px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:305px;
    height:199px;
}

.u10 {
    position:absolute;
    left:2px;
    top:92px;
    width:301px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:75px;
    top:106px;
    width:97px;
    height:38px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u12_normal {
    background-image: url('../优惠券_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:550px;
    top:259px;
    width:180px;
    height:80px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u13 {
    position:absolute;
    left:2px;
    top:23px;
    width:176px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

