body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:552px;
    top:225px;
    width:189px;
    height:93px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd1u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u2_normal {
    background-image: url('../搜索框_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u3 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u5 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../搜索框_1_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:-10px;
    width:480px;
    height:510px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:510px;
}

.u7 {
    position:absolute;
    left:2px;
    top:247px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:26px;
    top:124px;
    width:416px;
    height:103px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u9_normal {
    background-image: url('../搜索框_1_files/u2_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u10 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u12 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../搜索框_1_files/u6_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:80px;
    width:480px;
    height:510px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:510px;
}

.u14 {
    position:absolute;
    left:2px;
    top:247px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:26px;
    top:135px;
    width:432px;
    height:105px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u16 {
    position:absolute;
    left:384px;
    top:9px;
    width:82px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

