body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u1_normal {
    background-image: url('../搜索疾病_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u2 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u4 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../搜索疾病_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:75px;
    width:480px;
    height:510px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:510px;
}

.u6 {
    position:absolute;
    left:2px;
    top:247px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u7 {
    position:absolute;
    left:26px;
    top:134px;
    width:416px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u8_normal {
    background-image: url('../搜索疾病_files/u1_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u9 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u11 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../搜索疾病_files/u5_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:69px;
    width:480px;
    height:510px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:510px;
}

.u13 {
    position:absolute;
    left:2px;
    top:247px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:27px;
    top:130px;
    width:416px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u15 {
    position:absolute;
    left:756px;
    top:38px;
    width:168px;
    height:92px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u16 {
    position:absolute;
    left:378px;
    top:19px;
    width:85px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u17 {
    position:absolute;
    left:558px;
    top:209px;
    width:206px;
    height:85px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

